
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}


.logo {
    width: 150px; 
}


.navbar {
    padding: 1rem 0;
}

.navbar-nav {
    gap: 15px; 
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}

.rqst-box {
    color: white;
    font-weight: bold;
}


.hero {
   height: 100vh;
    background-image: url("images/sf-slider-1.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    margin-top: -75px; 
    background-color: #f8f9fa;
}

.text-box {
    max-width: 600px;
    text-align: left;
  margin-right:50% ;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
}

.highlight {
    color: #ebc808;
}

.subtitle {
    font-size: 1.25rem;
    margin-top: 15px;
}
.lead{
    font-size: small;
}
.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
 
    justify-content: end;
    gap: 2em;

    margin-left: 0%;
    
}
.card {
    width: 350px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 15px;

}
.card-img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.container-q {
   
    margin-top:10%;
    background: white;
    padding: 20px;
   

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-item {
    margin-bottom: 10px;
  }
  
  .question {
    
    
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .answer {
    display: none;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-top: 5px;
    background: #e9ecef;
  }









@media (max-width: 768px) {
    .hero {
        background-size: cover;
    }

    .title {
        font-size:xX-large;
    }

    .rqst-box {
        display: inline-block;
        margin-top: 15px;
    }
}
